<div style="display: flex; justify-content: space-between;">
    <h3>All Tasks</h3>
<button  *ngIf="userData?.role==='Manager'" mat-raised-button color="primary" (click)="openDialog()" style="height: 30px; width: 130px; background-color: rgb(6, 101, 101); color: white; cursor: pointer;">Create Task</button>
</div>

<div style="max-height: 500px !important; overflow-y: scroll;">
    <table *ngIf="userData?.role==='Manager'" mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="height: 100%;" >

   
   
  
    
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Task  </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element">
              <span class="ellipsis" matTooltip="{{element.description}}">
                {{ element.description }}
              </span>
            </td>
          </ng-container>
          
      
       
        <ng-container matColumnDef="assignedTo">
          <th mat-header-cell *matHeaderCellDef> Assigned To </th>
          <td mat-cell *matCellDef="let element">  {{ element.assignedTo ? element.assignedTo : 'Not assigned' }} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
    
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field appearance="outline" class="custom-mat-select" style="height: 20px !important;">
                <!-- Bind directly to element.status instead of selectedStatus -->
                <mat-select [(ngModel)]="element.status" name="status-{{element.id}}">
                  <mat-option *ngFor="let s of statusOptions" [value]="s">{{ s }}</mat-option>
                </mat-select>
              </mat-form-field>
          
              <button style="margin-left: 10px ;height: 30px; position: relative; top: -5px;" mat-raised-button color="primary" (click)="updateStatus(element.id, element.status)">
                Update
              </button>
            </td>
          </ng-container>
          
          
          
          
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <table *ngIf="userData?.role==='Developer'" mat-table [dataSource]="dataSource1" class="mat-elevation-z8" style="height: 100%;" >

   
   
  
    
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Task  </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
       
        
    
        
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
    
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field appearance="outline" class="custom-mat-select" style="height: 20px !important;">
                <!-- Bind directly to element.status instead of selectedStatus -->
                <mat-select [(ngModel)]="element.status" name="status-{{element.id}}">
                  <mat-option *ngFor="let s of statusOptions" [value]="s">{{ s }}</mat-option>
                </mat-select>
              </mat-form-field>
          
              <button style="margin-left: 10px ;height: 30px; position: relative; top: -5px;" mat-raised-button color="primary" (click)="updateStatus(element.id, element.status)">
                Update
              </button>
            </td>
          </ng-container>
          
          
          
          
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table>
</div>


<hr style="margin-top: 10px;">
    <div class="assign-container"  *ngIf="userData?.role==='Manager'">
        <h2>Assign Task to Developer</h2>
      
        <form [formGroup]="assignForm" (ngSubmit)="onAssignTask()">
          <div class="form-fields">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Select Task</mat-label>
              <mat-select formControlName="taskId" required>
                <mat-option *ngFor="let task of Tasks" [value]="task.id">{{ task.title }}</mat-option>
              </mat-select>
            </mat-form-field>
      
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Select Developer</mat-label>
              <mat-select formControlName="userId" required>
                <mat-option *ngFor="let dev of availableDevelopers" [value]="dev?.id">{{ dev?.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      
          <div class="action-btn">
            <button mat-raised-button color="primary" type="submit" [disabled]="assignForm.invalid">
              Assign Task
            </button>
          </div>
        </form>
      </div>
      


  
  
